@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}
#c1{
    font-size: 60px;
    text-decoration: underline;
}
#c2{
    margin-top: 30px;
    font-size: 50px;
    text-align: center;
}
#c3{
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
}
#c4{
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn1{
    align-content: center;
    width: 150px;
    height: 50px;
    font-size: 25px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(133, 214, 12);
}